<form>
    <div class="form-group">
        <label for="from">Ga đi</label>
        <input name="from"
               [(ngModel)]="formTicket.from"
               (ngModelChange)="searchStation($event)"
               type="text"
               class="form-control"
               id="from"
               placeholder="Hà Nội">
    </div>
    <div class="form-group">
        <label for="to">Ga đến</label>
        <input name="to" [(ngModel)]="formTicket.to" type="text" class="form-control" id="to" placeholder="Sài Gòn">
    </div>
    <button class="btn btn-block" (click)="showData($event)">Show Data</button>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>
