<div *ngFor="let item of showData">
    <span>
        {{item|json}}
    </span>
</div>
<!--<div class="position-relative">-->
<!--    <div (focusout)="resetSearchResult($event)" class="form-group" [class.position-relative]="resultStation && onFromInput">-->
<!--        <label for="from">Ga đi</label>-->
<!--        <input name="from"-->
<!--               [(ngModel)]="formTicket.from"-->
<!--               (ngModelChange)="searchStation($event, true)"-->
<!--               type="text"-->
<!--               class="form-control"-->
<!--               id="from"-->
<!--               placeholder="Hà Nội">-->
<!--        <div *ngIf="resultStation && onFromInput" class="position-absolute w-100 ">-->
<!--            <ul class="list-group">-->
<!--                <li (click)="setStation($event, item, true)"-->
<!--                    *ngFor="let item of resultStation"-->
<!--                    [class.display-none]="formTicket.to && formTicket.to === item.TenGa"-->
<!--                    class="list-group-item pointer">-->
<!--                    {{item.TenGa}}-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div (focusout)="resetSearchResult($event)" class="form-group" [class.position-relative]="resultStation && !onFromInput">-->
<!--        <label for="to">Ga đến</label>-->
<!--        <input name="to"-->
<!--               [(ngModel)]="formTicket.to"-->
<!--               (ngModelChange)="searchStation($event)"-->
<!--               type="text"-->
<!--               class="form-control"-->
<!--               id="to"-->
<!--               placeholder="Sài Gòn">-->
<!--        <div *ngIf="resultStation && !onFromInput" class="position-absolute w-100">-->
<!--            <ul class="list-group">-->
<!--                <li (click)="setStation($event, item, false)"-->
<!--                    *ngFor="let item of resultStation"-->
<!--                    [class.display-none]="formTicket.from && formTicket.from === item.TenGa"-->
<!--                    class="list-group-item pointer">-->
<!--                    {{item.TenGa}}-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<form>-->
<!--    <button class="btn btn-block" (click)="getTicket($event)">Show Data</button>-->
<!--    <div class="form-group">-->
<!--        <label for="exampleFormControlSelect1">Example select</label>-->
<!--        <select class="form-control" id="exampleFormControlSelect1">-->
<!--            <option>1</option>-->
<!--            <option>2</option>-->
<!--            <option>3</option>-->
<!--            <option>4</option>-->
<!--            <option>5</option>-->
<!--        </select>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="exampleFormControlSelect2">Example multiple select</label>-->
<!--        <select multiple class="form-control" id="exampleFormControlSelect2">-->
<!--            <option>1</option>-->
<!--            <option>2</option>-->
<!--            <option>3</option>-->
<!--            <option>4</option>-->
<!--            <option>5</option>-->
<!--        </select>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="exampleFormControlTextarea1">Example textarea</label>-->
<!--        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>-->
<!--    </div>-->
<!--</form>-->

